<script src="../../AngularController/BlogController.js"></script>

@{
    ViewBag.Title = "Index";
}

<div ng-app="Blog" ng-controller="BlogController">
    <div class="row">
        <div class="col-md-4">
            {{greeting}}
        </div>
    </div>

</div>