<div class="col-md-4" id="postArchiveLinks">

</div>

<div class="col-md-4" id="recentPosts">
    <div ng-repeat="entry in journalCtrl.recentEntries track by entry.id">
        <p> Posted: {{entry.date}}</p>
        <p> Last Edited: {{entry.lastEdited}}</p>
        <p> Author: {{entry.character}}</p>
        <p>{{entry.body}}</p>
        <hr /> <!--horizaontal divider-->
    </div>

    <div>
        <a class="btn btn-default pull-Left" id="previousPostsBtn" href="GetPreviousPosts" role="button">Previous 5</a>
        <a class="btn btn-default pull-right" id="netPostsBtn" href="GetNextPosts" role="button">Next 5</a>
    </div>

    <div id="showAllPostBtnWrapper">
        <a class="btn btn-default center-block" id="showAllBtn" href="ShowAllPostsBtn" role="button">Older Posts</a>
    </div>

</div>

<div class="col-md-4">
    <a class="btn btn-default pull-right" id="createPostBtn" href="/Journal/NewEntry" role="button">Create Post</a>
</div>