<div class="col-md-4" id="postArchiveLinks">

</div>

<div class="col-md-4" id="recentPosts">
    <div ng-repeat="entry in journalCtrl.recentEntries track by entry.Id">
        <p> Posted: {{entry.Date}}</p>
        <p> Last Edited: {{entry.LastEdited}}</p>
        <p> Author: {{entry.Character}}</p>
        <p>{{entry.Body}}</p>
        <hr /> <!--horizaontal divider-->
    </div>

    <div>
        <input id="nextPostsBtn" class="btn btn-default pull-right" type="button" value="Next 5" ng-click="journalCtrl.getNextFiveEntries()">
    </div>
</div>

<div class="col-md-4">
    <a class="btn btn-default pull-right" id="createPostBtn" href="/Journal/NewEntry" role="button">Create Post</a>
</div>